<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
 <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
 <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<!-- <script src="{% static 'gestionnaire/jquery-3.7.1.min.js' %}"></script> -->
 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<!-- <link rel="stylesheet" href="{% static 'gestionnaire/css/bootstrap.min.css' %}">   -->
<!-- <script src="{% static 'gestionnaire/js/bootstrap.min.js' %}"></script>    -->



<!-- Fenêtre modale de confirmation succes-->
<div class="modal" tabindex="-1" role="dialog" id="confirmationModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Le formulaire a été soumis avec succès!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- script de confirmation succes-->

<script>
    function afficherConfirmation() {
        $('#confirmationModal').modal('show');
    }
</script>

<script>
    $(document).ready(function () {
        afficherConfirmation();
    });
</script>



<!-- message de succes ajout de contact -->
<script>
    // Attendre que le document soit prêt
    $(document).ready(function () {
        // Afficher le message de confirmation
        $('#messageConfirmation').fadeIn('slow');

        // Masquer le message après 3 secondes
        setTimeout(function () {
            $('#messageConfirmation').fadeOut('slow');
        }, 3000);
    });
</script>


<script>
    // Activer la liste déroulante avec jQuery
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>

<!-- action -->
<div class="btn-action ">

    <a href="" class="btn btn-modif">
        <i class="fas fa-pencil-alt"></i>
        Modifier
    </a>

</div>
<div class="btn-action ">

    <a href="" class="btn btn-supp">
        <i class="fas fa-trash-alt"></i>
        Supprimer
    </a>

</div>
<!-- bution dropdown -->
<div class="actions-dropdown">
    <i class="fas fa-ellipsis-v dropdown-toggle" data-toggle="dropdown"></i>
    <!-- <button class="dropdown-toggle" data-toggle="dropdown">Actions</button> -->
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'modifier-contact' contact.id %}">Modifier</a>
        <a class="dropdown-item" href="{% url 'supprimer-contact' contact.id %}">Supprimer</a>
    </div>
</div>




<!-- Script pour afficher la fenêtre modale de confirmation du succes d'ajout -->


<script>
    function afficherConfirmationSucces() {
        // Utilisez Ajax pour envoyer le formulaire de manière asynchrone
        $.ajax({
            url: "{% url 'gestionnaire-contact' %}",
            type: "post",
            data: $('#monFormulaire').serialize(),
            success: function (response) {
                $('#contenuMaj').html(response);
                // Vérifiez si le traitement a été réussi
                print(response.traitement_reussi)
                if (response.traitement_reussi) {
                    // Affichez la fenêtre modale après avoir reçu la réponse du serveur
                    $('#confirmationModal').modal('show');
                }
            },
            error: function (error) {
                console.log("Erreur lors de l'envoi du formulaire:", error);
                // Gérez les erreurs si nécessaire
            }
        });
    }
</script>





<!-- Script pour afficher la fenêtre modale de validation de l'ajout du contact -->
<script>
    function confirmerEnvoi() {
        var confirmation = confirm("Êtes-vous sûr de vouloir soumettre ce formulaire?");

        if (confirmation) {
            // Si l'utilisateur a cliqué sur "OK", soumettez le formulaire
            document.getElementById('boutonEnvoyer').click();
        }

        // Retournez false pour empêcher la soumission normale du formulaire
        return false;
    }
</script>
<div class="actions-dropdown">
    <button class="dropdown-toggle btn" data-toggle="dropdown">Action</button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'deconnexion' %}">Déconnexion</a>
    </div>
</div>


<div class="actions-dropdown">
    <i class="fas fa-ellipsis-v dropdown-toggle" data-toggle="dropdown"></i>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'modifier-contact' contact.id %}">Modifier</a>
        <a class="dropdown-item" href="{% url 'supprimer-contact' contact.id %}">Supprimer</a>
    </div>
</div>

<div class="row mb-3">
    <div class="form-group col-md-6">

        {{ form.image }}
    </div>
    <div class="form-group col-md-6">
        {{ form.famille }}

    </div>
</div>


<div class="row">


    <div class="form-group col-md-6">
        <div class="mb-3">
            {{ commande_form.reference }}
        </div>

        <div class="mb-3">
            {{ commande_form.date_commande }}

        </div>
        <div class="mb-3">
            {{ commande_form.date_reception }}

        </div>

        <div class="mb-3">
            {{ commande_form.statut }}

        </div>

        <div class=" input-group mb-3">
            <div class="input-group-text"> {{ form.fournisseur.label }} </div>
            {{ form.fournisseur }}
        </div>
    </div>


    <div class="form-group col-md-6">

        {{ lignes_commande_formset.management_form }}
        {% for form in lignes_commande_formset %}
        {{ form.as_table }}
        {% endfor %}


    </div>

</div>
<div class="mb-3">
    {{ ligne_commande_form.commande }}

</div>

<div class="mb-3">
    {{ ligne_commande_form.produit }}

</div>
<div class="mb-3">
    {{ ligne_commande_form.prix_unitaire }}

</div>
<div class="mb-3">
    {{ ligne_commande_form.quantite }}

</div>

<div class="mb-3">
    {{ ligne_commande_form.montant }}

</div>
<div class="modal-dialog" style="min-width: 200px; min-height: 100px;">
    <div class="modal-content">
        ...
    </div>
    </di


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        
        <!-- Boucle pour chaque produit -->
        {% for produit in form.ordered_fields %}
            <label>{{ produit.label }}</label>
            {{ produit }}
            <!-- Ajoute des champs associés ici, par exemple : -->
            Quantité : <input type="number" name="quantite_{{ produit.value }}" required>
            Prix unitaire : <input type="number" name="prix_unitaire_{{ produit.value }}" step="0.01" required>
            Montant : <input type="number" name="montant_{{ produit.value }}" step="0.01" required>
        {% endfor %}
        
        <button type="submit">Enregistrer</button>
    </form>
  
    <table class="table">
        {% for field in form %}
            <tr>
                <td>
                    {{ field.label_tag }}
                </td>
                <td>
                    {{ field }}
                </td>
            </tr>
        {% endfor %}
    </table>


    <input type="hidden" id="formsetCounter" value="{{ formset.management_form.total_form_count }}">

<script>
    $(document).ready(function() {
        // Récupération de la valeur de formsetCounter depuis le HTML
        const formsetCounter = parseInt($('#formsetCounter').val());

        // Compteur pour générer des préfixes uniques pour les nouveaux formsets
        let nextFormsetCounter = formsetCounter;

        // Fonction pour ajouter un nouveau formset
        function addFormset() {
            // Copie du premier formset et modification des noms des champs pour les rendre uniques
            const newFormset = $('#formsets-container fieldset:first').clone();
            newFormset.find(':input').each(function() {
                const name = $(this).attr('name').replace('-0-', '-' + nextFormsetCounter + '-');
                const id = $(this).attr('id').replace('-0-', '-' + nextFormsetCounter + '-');
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });

            // Incrémentation du compteur pour le prochain formset
            nextFormsetCounter++;

            // Ajout du nouveau formset au conteneur
            $('#formsets-container').append(newFormset);
        }

        // Gestionnaire d'événement pour le clic sur le bouton d'ajout
        $('#add-formset').on('click', function() {
            addFormset();
        });
    });
</script>


                      {{ formset.management_form }}
                        {% for form in formset %}
                        <div class="row">
                            {% for field in form %}
                                <div class="col-md-2">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                            {% endfor %}
                       </div>


                       <script type="text/html" id="variants-template">
                        <tr id="variants-__prefix__" class= hide_all>
                            {% for fields in formset.empty_form.hidden_fields %}
                                {{ fields }}
                            {% endfor %}
                        
                            {% for fields in formset.empty_form.visible_fields %}
                                <td>{{fields}}</td>
                            {% endfor %}
                        </tr>
                        
                         
                    </script> 

                    <template id="variants-template">
                        <tr class="hide_all">
                            {% for fields in formset.empty_form.hidden_fields %}
                                {{ fields }}
                            {% endfor %}
                            {% for fields in formset.empty_form.visible_fields %}
                                <td>{{ fields }}</td>
                            {% endfor %}
                        </tr>
                         </template>
                    {% endcomment %}


                         <script type="text/html" id="variants-template">
                            <tr id="variants-__prefix__" class= hide_all>
                                {% for fields in formset.empty_form.hidden_fields %}
                                    {{ fields }}
                                {% endfor %}
                            
                                {% for fields in formset.empty_form.visible_fields %}
                                    <td>{{fields}}</td>
                                {% endfor %}
                            </tr>
                        </script>

                        <script>
                            // $(document).ready(function () {
//     // when user clicks add more btn of variants
//     $('.add-variants').click(function (ev) {
//         ev.preventDefault();
//         var count = $('#item-variants').children().length;
//         var template = $('#variants-template')[0];
//         var clone = template.cloneNode(true);
//         $('#item-variants').append(clone);

//         // update form count
//         $('#id_variants-TOTAL_FORMS').attr('value', count + 1);
//     });
// });
  </script>
<script>
document.addEventListener('DOMContentLoaded', () => {
    const ajouterCommandeForm = document.getElementById('ajouterCommandeForm');
    const closeButton = document.querySelector('#ajouterCommandeModal .close');

    ajouterCommandeForm.addEventListener('click', () => {
        // Utilisez AJAX pour déclencher la création d'une nouvelle commande
        $.ajax({
            url: "{% url 'gstock:create_commande' %}",  // Remplacez par l'URL correcte
            type: 'GET', 
            success: function(response) {
                // La réponse pourrait contenir des informations sur la nouvelle commande créée
                console.log(response);
                $('#ajouterCommandeModal').modal('show');
            },
            error: function(error) {
                console.error(error);
            }
        });
    });

    closeButton.addEventListener('click', () => {
        $('#ajouterCommandeModal').modal('hide');
    });
});
</script>


   <!-- <div class="dropdown">
                    <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Actions
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item text-bg-warning" href="{% url 'stock:recuperer-article' produit.id %}">Modifier</a></li>
                      <li><a class="dropdown-item text-bg-danger" href="{% url 'stock:supprimer-article' produit.id %}">Supprimer</a></li>
                    </ul>
                  </div> -->

<!-- ===============================commande avec formset=============================== -->



{% extends 'gestionnaire/base.html' %}
{% load static %}

{% block titre %}
<h1>Gestion commerciale</h1>
{% endblock %}

{% block content %}





<div class="decon">
    <!-- le popup d'ajout decommande fournisseur -->
    <div class="modal fade" id="ajouterCommandeModal" tabindex="-1" role="dialog"
        aria-labelledby="ajouterCommandeModalLabel" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ajouterCommandeModalLabel">Nouvelle commande</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <!--  formulaire d'ajout de commande  -->
                    <form class="container" method="post" id="product_form" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="row">

                            <div class="form-group col-md-4">

                                <div class=" input-group mb-3">
                                    <div class="input-group-text"> {{ form.fournisseur.label_tag }}
                                        <span style="color: red;" class="required">*</span>
                                    </div>
                                    {{ form.fournisseur }}
                                    {% for error in form.errors %}
                                    <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </div>

                            </div>

                            <div class="form-group col-md-4">
                                <div class=" input-group mb-3">
                                    <div class="input-group-text"> {{ form.date_commande.label_tag }}
                                        <span style="color: red;" class="required">*</span>
                                    </div>
                                    {{ form.date_commande }}
                                    {% for error in form.errors %}
                                    <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <div class=" input-group mb-3">
                                    <div class="input-group-text"> {{ form.reference.label_tag }}
                                        <span style="color: red;" class="required">*</span>
                                    </div>
                                    {{ form.reference }}
                                    {% for error in form.errors %}
                                    <p style="color: red">{{ error }}</p>
                                    {% endfor %}

                                </div>
                            </div>


                        </div>


                        {% with named_formsets.produits as formset %}
                        {{ formset.management_form }}
                     <script type="text/html" id="produits-template">
                      <tr id="produits-__prefix__" class= hide_all>
                        {% for fields in formset.empty_form.hidden_fields %}
                            {{ fields }}
                        {% endfor %}
                    
                        {% for fields in formset.empty_form.visible_fields %}
                            <td>{{fields}}</td>
                        {% endfor %}
                      </tr>
                     </script>

                        <div class="table-responsive card mt-4">
                            <div class="card-header card-header-secondary">
                                <h5 class="card-title">Articles</h5>
                            </div>
                            <table class="table card-header">
                                <thead class="text-secondary">
                                    <th>Article <span style="color: red;" class="required">*</span></th>
                                    <th>Quantity <span style="color: red;" class="required">*</span></th>
                                    <th>Prix <span style="color: red;" class="required">*</span></th>
                                    <th>Montant <span style="color: red;" class="required">*</span></th>

                                    <th>Action</th>
                                </thead>
                                <tbody id="item-produits"> <!-- id="item-inlineformsetname" -->
                                    <!-- formset non forms errors -->
                                    {% for error in formset.non_form_errors %}
                                    <span style="color: red">{{ error }}</span>
                                    {% endfor %}
                                    {% for formss in formset %}
                                    {{ formss.management_form }}
                                    <tr id="produits-{{ forloop.counter0 }}" class=hide_all>
                                        <!-- id="inlineformsetname-counter" -->
                                        {{ formss.id }}
                                        {% for field in formss.visible_fields %}
                                        <td>
                                            {{field}}
                                            {% for error in field.errors %}
                                            <span style="color: red">{{ error }}</span>
                                            {% endfor %}

                                            {% comment %} {{ field.DELETE }} {% endcomment %}
                                        </td>
                                        {% endfor %}

                                        {% comment %} for delete {% endcomment %}
                                        {% if formss.instance.pk %}
                                        <td>
                                            <button type="button" id="exampleModal{{formss.instance.pk}}"
                                                class="btn btn-danger" data-toggle="modal"
                                                data-target="#exampleModal{{formss.instance.pk}}">
                                                Supprimer
                                            </button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal{{formss.instance.pk}}"
                                                tabindex="-1" role="dialog"
                                                aria-labelledby="exampleModalLabel{{formss.instance.pk}}"
                                                aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title"
                                                                id="exampleModalLabel{{formss.instance.pk}}">
                                                                voulez vous vraiment supprimer ?</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a href="{% url 'gstock:delete_produit' formss.instance.pk %}"
                                                                type="button" class="btn btn-primary">oui, supprimer</a>
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Fermer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <script>
                                                document.addEventListener('DOMContentLoaded', () => {
                                                    const supprimerLigneCommande = document.getElementById('#exampleModal{{formss.instance.pk}}');
                                                    const closeButtonSupprimerLigneCommande = document.querySelector('#exampleModal{{formss.instance.pk}} .close');
                                                    supprimerLigneCommande.addEventListener('click', () => {
                                                      
                                                        $('#exampleModal{{formss.instance.pk}}').modal('show');
                                                    });

                                                    closeButtonSupprimerLigneCommande.addEventListener('click', () => {
                                                        $('#exampleModal{{formss.instance.pk}}').modal('hide');
                                                    });

                                                });
                                            </script>
                                        </td>


                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <a href="#" id="add-produit-button" class="btn btn-primary add-produits">Autre produit</a>
                          
                        </div>

                        {% endwith %}


                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Valider</button>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>

</div>

<!-- au clic des bouton ajouter on appelle le modal -->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        //const ajouterCommandeForm = document.getElementById('ajouterCommandeForm');
        const closeButton = document.querySelector('#ajouterCommandeModal .close');

        // ajouterCommandeForm.addEventListener('click', () => {
        //     $('#ajouterCommandeModal').modal('show');
        // });

        closeButton.addEventListener('click', () => {
            $('#ajouterCommandeModal').modal('hide');
        });

    });

</script>





<!-- ce script ajoute d'autre ligne de formulaire de produit lorsque l'utilisateur clique
     le bouton autre produit  -->
<script>

    $(document).ready(function () {
        // when user clicks add more btn of produits
        $('.add-produits').click(function (ev) {

            ev.preventDefault();
            var count = $('#item-produits').children().length;
            var tmplMarkup = $('#produits-template').html();
            var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
            $('#item-produits').append(compiledTmpl);
            console.log($('#item-produits').append(compiledTmpl))
            // update form count
            $('#id_produits-TOTAL_FORMS').attr('value', count + 1);
            console.log(count)
        });
    });


</script>


<script>
    // Fonction pour déclencher la recherche de commande founisseur
    $('#champ_recherche').on('input', function () {
        var termeRecherche = $(this).val();

        // Effectuer une requête AJAX pour récupérer les résultats de la recherche
        $.ajax({
            url: '{% url "gstock:recherche_commande_fournisseur" %}',
            data: { 'term_recherche': termeRecherche },
            dataType: 'html',
            success: function (data) {
                // Mettre à jour le conteneur des résultats avec les nouveaux résultats
                $('#resultats_recherche').html(data);
            }
        });
    });
</script>





<!-- cet script verifie si une variable afficherModaleCommandeFournisseur es vrai pour declencher 
l'affichage du modal d'ajout de commande fournisseur ,  cette valeur provient de createCommande depuis la vue-->
<input type="hidden" id="afficherModaleCommandeFournisseur" value="{{ afficherModaleCommandeFournisseur }}">

<script>
    document.addEventListener('DOMContentLoaded', function () {

        var afficherModaleCommandeFournisseur = document.getElementById('afficherModaleCommandeFournisseur').value;
        var modal = document.getElementById('ajouterCommandeModal');
        if (afficherModaleCommandeFournisseur && (afficherModaleCommandeFournisseur.toLowerCase() === 'true' || afficherModaleCommandeFournisseur === true)) {
            // Assurez-vous que Bootstrap est chargé (si vous utilisez Bootstrap)
            if (typeof $().modal === 'function') {
                // Utilisez Bootstrap pour afficher le modal
                $(modal).modal('show');

            } else {
                // Si Bootstrap n'est pas disponible, vous pouvez simplement afficher le modal
                modal.style.display = 'block';

            }
        }
    });


</script>



{% endblock %}

{% for form in formset.forms %}
                        <tr>
                            <td>{{ form.cleaned_data.produit }}</td>
                            <td>{{ form.cleaned_data.quantite }}</td>
                            <td> </td>
                        </tr>
                    {% endfor %}  