{% extends 'gestionnaire/base.html' %}
{% load static %}

{% block titre %}
<h1>Gestion commerciale</h1>
{% endblock %}

{% block content %}
   

<div class="cardBox">
    <div class="card">
        <div class="cardName"> Mes contacts</div>
        <div class="iconBx">
           
            <h1>  {{nbr_contact}}</h1>
        </div>

    </div>

    <div class="card">
        <div class="cardName"> Mes articles</div>
        <div class="iconBx">
        <h1>  {{nbr_article}}</h1>
        </div>
    </div>

</div>

<div class="cardBox">
    <div class="card">
        <div class="cardName">Commandes</div>
        <div class="iconBx">
            <h1>  {{nbr_commande}}</h1>
        </div>

    </div>

    <div class="card">
        <div class="cardName"> </div>
        <div>

        </div>
    </div>

</div>





{% endblock %}