{% extends 'gcom/base.html' %}
{% load static %}


{% block content %}
<h2 class="text-center redressed pt-4">A propos de nous </h2>

<div class="apropos-banniere">

</div>

<section class="cc-apropos py-5 mx-5">
    <div class="container">
        <div class="row  " >
          <div class="col-md-6"> 
          <p>Implantée dans la commune d’Abomey-calavi, la société ‘‘ DIGITALIS ’’ pour vocation d‘œuvrer au développement d’un grand nombre d’entreprises et d’acteurs à travers un accompagnement dans les domaines de la digitalisation, du renforcement de capacités, de la prospective, et de la gestion de projets, etc.
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, soluta debitis quasi fugiat ab placeat quo dolores vitae et inventore distinctio minima perferendis obcaecati laboriosam, dolorum reiciendis officia culpa quam!</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, soluta debitis quasi fugiat ab placeat quo dolores vitae et inventore distinctio minima perferendis obcaecati laboriosam, dolorum reiciendis officia culpa quam!</p>

        </div>
          
          <div class="col-md-6"> 
            <p>A travers sa gamme variée de services, DIGITALIS assiste sa clientèle dans la mise en place des outils utiles et adaptés pour la gestion performante de leur organisation. DIGITALIS se veut d’être votre partenaire pour l’optimisation de vos ressources, la performance et le développement de votre structure.
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quaerat nobis sit iure laudantium, beatae voluptate eaque ullam numquam doloribus reiciendis aspernatur et ab. Ipsum maiores quasi necessitatibus officiis fuga!</p>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, soluta debitis quasi fugiat ab placeat quo dolores vitae et inventore distinctio minima perferendis obcaecati laboriosam, dolorum reiciendis officia culpa quam!</p>

          </div>
        </div>

       
    </div>
  </section>


{% endblock  %}