{% extends 'gcom/base.html' %}
{% load static %}


{% block content %}
<h2 class="text-center redressed pt-5">Decouvrez les fonctionalités de Gcom </h2>
<section class="cc-fontionalite py-2 mx-5">
    <div class="container">
        <div class="row">
       
         <div class="card my-5 border-0 text-center "  >
            <div class="row"> 
                <div class="col-md-6 ">
                    <div class="card-body ">
                        <h3 class="card-title text-center">Gestion des clients</h3>
                        <p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, optio! Rem earum sint eius illo voluptatum aperiam quibusdam praesentium, natus tempora,
                             totam expedita laboriosam hic in amet non tenetur quia.</p>
                        
                    </div>
                </div>
           
                <div class="col-md-6 ">
                    <div class="card-body ">
                                <h3 class="card-title text-center">Gestion des ventes</h3>
                                <p class="card-text ">Lorem ipsum dolor sit amet consectetur
                                     adipisicing elit. Aperiam cumque debitis fugiat incidunt inventore a odio, reprehenderit exercitationem veniam ab delectus, dolorem consequatur
                                     beatae quam distinctio molestiae, sit praesentium! Quae? </p>
                                
                    </div>
                 </div>

            </div>

            <div class="row"> 
                <div class="col-md-6 ">
                    <div class="card-body ">
                        <h3 class="card-title text-center">Gestion des clients</h3>
                        <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Ullam optio harum libero cum doloribus, enim neque quisquam rerum dolorem aperiam.
                             Necessitatibus dolorem omnis facere rem delectus deserunt eveniet dicta. Vel?. </p>
                        
                    </div>
                </div>
           
                <div class="col-md-6 ">
                    <div class="card-body ">
                                <h3 class="card-title text-center">Gestion des clients</h3>
                                <p class="card-text ">Lorem ipsum dolor sit, amet consectetur
                                     adipisicing elit. Accusamus officiis explicabo neque provident, repudiandae aperiam ea at perferendis iure voluptatibus odio ex ratione quod
                                     sapiente similique ullam sunt laborum rerum? </p>
                                
                    </div>
                 </div>
                 
            </div>



         </div>



         <div class="card my-5 border-0 text-center "  >
            <div class="row"> 
                <div class="col-md-6 ">
                    <div class="card-body ">
                        <h5 class="card-title text-center">Gestion des clients</h5>
                        <p class="card-text ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum adipisci voluptas esse libero, et repellat possimus? Repudiandae fuga, eius accusamus rerum
                             nemo aspernatur, omnis dolor distinctio aliquam eaque ab soluta? </p>
                        
                    </div>
                </div>
           
                <div class="col-md-6 ">
                    <div class="card-body ">
                                <h5 class="card-title text-center">Gestion des clients</h5>
                                <p class="card-text ">cette fonctionalité vous permet de .... </p>
                                
                    </div>
                 </div>

            </div>

            <div class="row"> 
                <div class="col-md-6 ">
                    <div class="card-body ">
                        <h5 class="card-title text-center">Gestion des clients</h5>
                        <p class="card-text ">cette fonctionalité vous permet de .... </p>
                        
                    </div>
                </div>
           
                <div class="col-md-6 ">
                    <div class="card-body ">
                                <h5 class="card-title text-center">Gestion des clients</h5>
                                <p class="card-text ">cette fonctionalité vous permet de .... </p>
                                
                    </div>
                 </div>
                 
            </div>



         </div>



        
        </div>
    </div>
  </section>


{% endblock  %}