{% extends 'gcom/base.html' %}
{% load static %}


{% block content %}
<h2 class="text-center redressed pt-5">Nos clients parlent de leur satisfaction </h2>

<section class="cc-temoignage py-2 mx-5">
    <div class="container">
        <div class="row">
       
         <div class="card my-5 border-0 text-center "  >
            <div class="row"> 
                <div class="col-md-6 ">
                    <div class="card-body ">
                        <div class="card-title text-center profil-temoignage">
                            <img src="{% static 'gcom/img/c1.jpg' %}" alt="Profil">
                        </div>
                        <p class="card-text ">cette application est géniale </p>
                        
                    </div>
                </div>
          
                <div class="col-md-6 ">
                    <div class="card-body ">
                        <div class="card-title text-center profil-temoignage">
                            <img src="{% static 'gcom/img/c1.jpg' %}" alt="Profil">
                        </div>                       
                         <p class="card-text ">c'est très pratique </p>
                        
                    </div>
                </div> 
            </div>
         </div>



         <div class="card my-5 border-0 text-center "  >
            <div class="row"> 
                <div class="col-md-6 ">
                    <div class="card-body ">
                        <div class="card-title text-centern profil-temoignage">
                            <img src="{% static 'gcom/img/c1.jpg' %}" alt="Profil">
                        </div>
                        <p class="card-text ">facile à utilisé </p>
                        
                    </div>
                </div>
           
                <div class="col-md-6 ">
                    <div class="card-body ">
                        <div class="card-title text-center profil-temoignage">
                            <img src="{% static 'gcom/img/c1.jpg' %}" alt="Profil">
                        </div>
                        <p class="card-text ">Je remercie l'equipe  </p>
                        
                    </div>
                </div>
            </div>

         </div>



        
        </div>
    </div>
  </section>


{% endblock  %}