{% extends 'gestionnaire/base.html' %}
{% load static %}

{% block titre %}
<h1>Gestion commerciale</h1>
{% endblock %}

{% block content %}

<div class="listeclient">

    <div class="recentOrders">

        <div class="cardHeader">
            <h2>Vente({{nbr}})</h2>
            <h5>
                {% if ajout_reussi %}
                <div id="messageConfirmation" class="alert alert-success">
                    commande créée!
                </div>
                {% endif %}
                {% if modification_reussi %}
                <div id="messageConfirmation" class="alert alert-success">
                    {% for message in messages %}
                     {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
            </h5>
            <div class="search">
                <label>
                    <input type="text" id="champ_recherche" placeholder="Recherche ici">
                    <ion-icon name="search-outline"></ion-icon>
                </label>
            </div>
          
            <a class="btn btn-primary" type="button" href="{% url 'gstock:nouvelle-commande-client' %}">
                Nouvelle commande
            </a>
        </div>

        <div class="resultats_recherche">
           
             {% include 'gstock/liste_commande_client.html' %}
            
        </div>
    </div>
</div>



<script>
    // Fonction pour déclencher la recherche de commande founisseur
    $('#champ_recherche').on('input', function () {
        var termeRecherche = $(this).val();

        // Effectuer une requête AJAX pour récupérer les résultats de la recherche
        $.ajax({
            url: '{% url "gstock:recherche_commande_client" %}',
            data: { 'term_recherche': termeRecherche },
            dataType: 'html',
            success: function (data) {
                // Mettre à jour le conteneur des résultats avec les nouveaux résultats
                $('#resultats_recherche').html(data);
            }
        });
    });
</script>




{% endblock %}