{% extends 'usercompte/base.html' %}
{% load static %}

{% block content %}

 <div class="cc-inscription ">
    <h1 class="text-center text-light ">Inscription</h1>
    <a class=" nav-link text-light" href="{% url 'gcom:index' %}">Retour au site</a>

   <div class="bloc-inscription text-center">
    
        <img class="bloc-inscription-img" src="{% static 'usercompte/img/user5.jpg' %}" height="100px" width="100px" alt="profil">
        <!-- <div class="mb-1 text-light"> {{message}} </div> -->
        <h5 style="background-color: white; width: 75%; margin-left: 50px;" class=" message-erreur "><span style="color: red;">{{message}}</span>  </h5>

        <form method="POST" action="{% url 'usercompte:inscription' %}" > 
            {% csrf_token %}
            
          <div class="row px-5">
            <div class="col-md-15 sm ">
                <div class="input-group mb-3">
                     <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i> </span>
                     <input type="text" name="username" class="form-control" placeholder="Username" required>
                     <!-- {{ form.as_p}} -->
                  </div>

               <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i> </span>
                 <input type="email" name="email" class="form-control" placeholder="Email">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-key "></i> </span>
                <input  type="password" name="password1"class="form-control" placeholder="********" required>
             </div>

             <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-key "></i> </span>
                <input type="password" name="password2"class="form-control" placeholder="********">
             </div>

             <div class="mt-5"></div>
               <button class="btn-form text-light" type="submit"> Inscription</button>
               <a class="nav-link text-light mt-2" href="{% url 'usercompte:connexion' %}">Se connecter</a>
              </div>

           </div>
        </div>
        </form>
    </div>
</div>
    

{% endblock %}