{% extends 'contact/basecontact.html' %}
{% load static %}


{% block contact %}

<div class="listeclient">
    <div class="recentOrders">
        <div class="cardHeader">
            <h2>Contacts({{nbr}})</h2>
            <h5>
                {% if ajout_reussi %}
                <div id="messageConfirmation" class="alert alert-success">
                    Un contact ajouté !
                </div>
                {% endif %}
                {% if modification_reussi %}
                <div id="messageConfirmation" class="alert alert-success">
                    Contact modifié !
                </div>
                {% endif %}
                {% if suppression_reussi %}
                <div id="messageConfirmation" class="alert alert-success">
                    contact supprimé !
                </div>
                {% endif %}
            </h5>
            <div class="search">
                <label>
                    <input type="text" id="champ_recherche" placeholder="Recherche ici">
                    <ion-icon name="search-outline"></ion-icon>
                </label>
            </div>

            <div class="pw-5">

            </div>
            <!-- <a href="#" class="btn">Tout</a> -->
        </div>


        <!-- inclure la table contenant la liste des contacts cest aussi le coneteur des resultats de recherche-->
        <div id="resultats_recherche">
            {% include 'contact/recherche_contact.html' %}

        </div>

        
    </div>


</div>


<script>
    // Fonction pour déclencher la recherche à mesure que l'utilisateur tape
    $('#champ_recherche').on('input', function () {
        var termeRecherche = $(this).val();

        // Effectuer une requête AJAX pour récupérer les résultats de la recherche
        $.ajax({
            url: '{% url "contact:recherche_contact" %}',
            data: { 'term_recherche': termeRecherche },
            dataType: 'html',
            success: function (data) {
                // Mettre à jour le conteneur des résultats avec les nouveaux résultats
                $('#resultats_recherche').html(data);
            }
        });
    });
</script>




{% endblock %}