<div class="scrol-table">

 {% if nombre is not None %}
    {% if nombre == 0 %}
        <p style="color: red;" >Aucun contact trouvé</p>

    {% else %}
        {% if nombre == 1 %}
              <p style="color: green;">{{ nombre}} contact trouvé</p>

        {% else %}
               <p style="color: green;">{{ nombre }} contacts trouvés</p>
        {% endif %}
    {% endif %}
 {% endif %}
    <table>
        <thead>
            <tr>

                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Ifu</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Type</th>
                <th scope="col">Adresse</th>
                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody>


            {% for contact in contacts %}
            <tr>

                <td>{{contact.name}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.ifu}}</td>
                <td>{{contact.categorie}}</td>
                <td>{{contact.type}}</td>
                <td>{{contact.adress}}</td>
                <td>

                    <!-- <div class="dropdown">
                       
                        <i class="fas fa-ellipsis-v dropdown-toggle" data-toggle="dropdown"></i>
                        <div class="content">
                            <a class="text-warning bg-dark" href="{% url 'contact:modifier-contact'  %}">Modifier</a>
                            <a class="text-danger bg-dark" href="{% url 'contact:supprimer-contact' contact.id %}">Supprimer</a>

                        </div>
                    </div> -->

                    <!-- <div class="actions-dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'contact:modifier-contact' %}">Modifier</a>
                            <a class="dropdown-item" href="{% url 'contact:supprimer-contact' contact.id %}">Supprimer</a>
                        </div>
                    </div> -->
                    <a class="dropdown-item" href="{% url 'contact:recuperer-contact' contact.id %}?calling_page={{ request.path }}">Modifier</a>
                    <a class="dropdown-item" href="{% url 'contact:supprimer-contact' contact.id %}?calling_page={{ request.path }}">Supprimer</a>
                   
                </td>

            </tr>
           

            {% endfor %}


        </tbody>
    </table>


</div>