<div class="scrol-table">
    {% if nombre is not None %}
    {% if nombre == 0 %}
        <p style="color: red;" >Aucune société trouvée</p>

    {% else %}
        {% if nombre == 1 %}
              <p style="color: green;">{{ nombre}} société trouvée</p>

        {% else %}
               <p style="color: green;">{{ nombre }} sociétés trouvées</p>
        {% endif %}
    {% endif %}
 {% endif %}
    <table >
        <thead>
            <tr>
                
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Ifu</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Type</th>
                <th scope="col">Adresse</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>


            {% for contact in contacts_societes %}
            <tr>
                
                <td>{{contact.name}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.ifu}}</td>
                <td>{{contact.categorie}}</td>
                <td>{{contact.type}}</td>
                <td>{{contact.adress}}</td>
                <td>

                     <!--                  
                    <div>
                        <a class="" href="{% url 'contact:recuperer-contact' contact.id %}?calling_page={{ request.path }}">Modifier</a>
                        <a class="" href="{% url 'contact:supprimer-contact' contact.id %}?calling_page={{ request.path }}">Supprimer</a>
    
                     </div> -->
                  
                     <div class="dropdown">
                        <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                         Actions
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item text-bg-warning" href="{% url 'contact:recuperer-contact' contact.id %}?calling_page={{ request.path }}">Modifier</a></li>
                          <!-- <li><a class="dropdown-item text-bg-danger" href="{% url 'contact:supprimer-contact' contact.id %}?calling_page={{ request.path }}">Supprimer</a></li> -->
                          <li><a class="dropdown-item text-bg-danger" href="javascript:void(0);"onclick="confirmerSuppression('{% url 'contact:supprimer-contact' contact.id %}?calling_page={{ request.path }}')">Supprimer</a></li>

                        </ul>
                      </div>

                       
                </td>
               
            </tr>
           
            {% endfor %}
         
          
        </tbody>
      </table>
</div>



<script>
    function confirmerSuppression(url) {
        // Affiche la boîte de dialogue de confirmation de la suppression
        $('#confirmationModal').modal('show');

        // Ajoute un gestionnaire d'événement pour le clic sur le bouton "OK"
        $('#btnOK').on('click', function() {
            window.location.href = url;
        });
        $('#btnAnnuler').on('click', function() {
            $('#confirmationModal').modal('hide');
           // window.location.href = '{% url "contact:afficher-contact" %}'; 
        });

        var modal = document.getElementById('confirmationModal');
        var closeButton = document.querySelector('#confirmationModal .close');
            closeButton.addEventListener('click', function () {
                $('#confirmationModal').modal('hide');
               // window.location.href = '{% url "contact:afficher-contact" %}'; 
            });
           
            // rediriger vers la page contact lorsque l'utilisateur clique à l'extérieur du modal
            modal.addEventListener('click', function (event) {
                if (event.target === modal) {
                 //   window.location.href = '{% url "contact:afficher-contact" %}'; // Rediriger vers la page contact
                }
            });


    }
</script>

<!-- Bootstrap Modal pour la confirmation -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmation de suppression</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer cette société ?
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAnnuler" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" id="btnOK" class="btn btn-danger">OK</button>
            </div>
        </div>
    </div>
</div>